In [1]:
# concat in data frames
import pandas as pd

ph_weather = pd.DataFrame({
    "city": ["Cebu", "Manila", "QC" ],
    "temperature": [29, 35, 31],
    "humidity": [80, 60, 78],
})

ph_weather

     city  temperature  humidity
0    Cebu           29        80
1  Manila           35        60
2      QC           31        78

In [2]:
# concat in data frames
import pandas as pd

us_weather = pd.DataFrame({
    "city": ["NYC", "LA", "CHI" ],
    "temperature": [21, 35, 14],
    "humidity": [62, 63, 75],
})

us_weather

  city  temperature  humidity
0  NYC           21        62
1   LA           35        63
2  CHI           14        75

In [5]:
df = pd.concat([ph_weather,us_weather])
df

     city  temperature  humidity
0    Cebu           29        80
1  Manila           35        60
2      QC           31        78
0     NYC           21        62
1      LA           35        63
2     CHI           14        75

In [6]:
df = pd.concat([ph_weather,us_weather], ignore_index=True)
df

     city  temperature  humidity
0    Cebu           29        80
1  Manila           35        60
2      QC           31        78
3     NYC           21        62
4      LA           35        63
5     CHI           14        75

In [ ]:
df = pd.concat([ph_weather,us_weather], keys=["ph", "us"])
df

In [ ]:
df.loc["us"]

In [ ]:
df.loc["us"]

In [ ]:
temperature_df = pd.DataFrame({
    "city": ["NYC", "LA", "CHI" ],
    "temperature": [21, 35, 14],
}, index=[0,1,2])

temperature_df

In [ ]:
windspeed_df = pd.DataFrame({
    "city": ["NYC", "LA"],
    "windspeed": [7, 15],
}, index=[1,0])

windspeed_df

In [ ]:
df = pd.concat([temperature_df, windspeed_df.windspeed], axis=1)
df

In [ ]:
series_con = pd.Series(["Dry", "Humid", "Rain"], name="event")
series_con

In [ ]:
df = pd.concat([temperature_df, series_con], axis=1)
df