In [4]:
import pandas as pd
# weather_data = {
#     'day': ['1/1/2017', '1/2/2017','1/3/2017','1/4/2017','1/5/2017', '1/6/2017']
#     'temperature': [32,35,28,24,32,31]
#     'windspeedd': [6,7,2,7,4,2]
#     'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
# }

In [5]:
df = pd.read_csv('sample_weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
# to know the number of rows and columns respectively
rows, columns = df.shape
print(f"rows: {rows}")  # rows/record
print(f"columns: {columns}")  # column/field

rows: 6
columns: 4

### **Rows**

In [8]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
# prints top 3 record in df
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [10]:
# dump last record
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [11]:
# acess arrays starting with 1 end with 3
df[1:3]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

### **Columns**

In [12]:
# prints columns title
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [13]:
# prints the data for "day" column
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [14]:
# other way to print the data for "day" column
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [15]:
# prints the data for "day" and "windspees" column
df[['day', 'windspeed']]

        day  windspeed
0  1/1/2017          6
1  1/2/2017          7
2  1/3/2017          2
3  1/4/2017          7
4  1/5/2017          4
5  1/6/2017          2

In [16]:
message = "hello"
message

'hello'

In [17]:
# checks variable type
type(message)

str

In [18]:
# checks variable type
type(df['day'])

pandas.core.series.Series

## **Data Frame Operations**

In [19]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [20]:
# getting max temperature
df['temperature'].max()

35

In [22]:
# displays records with greater than 28 degerees temp
df[df['temperature']>28]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [30]:
# gets the day with max temp
df['day'] [df['temperature']==df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [31]:
# gets the standard deviation of temperature
df['temperature'].std()

3.8297084310253524

In [33]:
# mean/min
df['event'].min()

'Rain'

In [34]:
df['event'].max()

'Sunny'

In [35]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [36]:
df['temperature'].mean()

30.333333333333332

In [37]:
# displays stat values
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

## **set_index**

In [38]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [39]:
# prints the column we want to use as index
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [40]:
df.set_index('event') # not an ideal index

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [41]:
# prints the column we want to use as index
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [43]:
df.set_index('day', inplace= True)

In [44]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [45]:
# locate a record using record
df.loc['1/2/2017']

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [46]:
# reset
df.reset_index(inplace=True)

In [47]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [48]:
df.set_index('event', inplace=True)

In [50]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

In [51]:
df.reset_index(inplace=True)

In [52]:
df

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2