### Timezones

Objective: To convert the dataframe to Time Zone Aware

In [1]:
import pandas as pd

df = pd.read_csv("msft_timezone.csv",header=1, index_col="Date Time", parse_dates=True)
df

                     Price
Date Time
2017-08-17 09:00:00  72.38
2017-08-17 09:15:00  71.00
2017-08-17 09:30:00  71.67
2017-08-17 10:00:00  72.80
2017-08-17 10:30:00  73.00
2017-08-17 11:00:00  72.50

In [2]:
# double-checks index

df.index

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-17 09:15:00',
               '2017-08-17 09:30:00', '2017-08-17 10:00:00',
               '2017-08-17 10:30:00', '2017-08-17 11:00:00'],
              dtype='datetime64[ns]', name='Date Time', freq=None)

In [3]:
# Time Zone Aware / localized

df.index = df.index.tz_localize(tz="US/Eastern")
df.index

DatetimeIndex(['2017-08-17 09:00:00-04:00', '2017-08-17 09:15:00-04:00',
               '2017-08-17 09:30:00-04:00', '2017-08-17 10:00:00-04:00',
               '2017-08-17 10:30:00-04:00', '2017-08-17 11:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', name='Date Time', freq=None)

In [4]:
df = df.tz_convert('Europe/Berlin')
df

                           Price
Date Time
2017-08-17 15:00:00+02:00  72.38
2017-08-17 15:15:00+02:00  71.00
2017-08-17 15:30:00+02:00  71.67
2017-08-17 16:00:00+02:00  72.80
2017-08-17 16:30:00+02:00  73.00
2017-08-17 17:00:00+02:00  72.50

In [5]:
df.index

DatetimeIndex(['2017-08-17 15:00:00+02:00', '2017-08-17 15:15:00+02:00',
               '2017-08-17 15:30:00+02:00', '2017-08-17 16:00:00+02:00',
               '2017-08-17 16:30:00+02:00', '2017-08-17 17:00:00+02:00'],
              dtype='datetime64[ns, Europe/Berlin]', name='Date Time', freq=None)

In [6]:
# from pytz import all_timezones
# print(all_timezones)

In [7]:
# converts dataset to Manila Time

df.index = df.index.tz_convert('Asia/Manila')
df

                           Price
Date Time
2017-08-17 21:00:00+08:00  72.38
2017-08-17 21:15:00+08:00  71.00
2017-08-17 21:30:00+08:00  71.67
2017-08-17 22:00:00+08:00  72.80
2017-08-17 22:30:00+08:00  73.00
2017-08-17 23:00:00+08:00  72.50

In [8]:
df.index

DatetimeIndex(['2017-08-17 21:00:00+08:00', '2017-08-17 21:15:00+08:00',
               '2017-08-17 21:30:00+08:00', '2017-08-17 22:00:00+08:00',
               '2017-08-17 22:30:00+08:00', '2017-08-17 23:00:00+08:00'],
              dtype='datetime64[ns, Asia/Manila]', name='Date Time', freq=None)

In [9]:
manila = pd.date_range('1/1/2016 00:08:00', periods=10, freq='H', tz='Asia/Manila')
manila

DatetimeIndex(['2016-01-01 00:08:00+08:00', '2016-01-01 01:08:00+08:00',
               '2016-01-01 02:08:00+08:00', '2016-01-01 03:08:00+08:00',
               '2016-01-01 04:08:00+08:00', '2016-01-01 05:08:00+08:00',
               '2016-01-01 06:08:00+08:00', '2016-01-01 07:08:00+08:00',
               '2016-01-01 08:08:00+08:00', '2016-01-01 09:08:00+08:00'],
              dtype='datetime64[ns, Asia/Manila]', freq='H')

In [10]:
manila_d = pd.date_range('1/1/2016 00:00', periods=10, freq='H', tz='dateutil/Asia/Manila')
manila_d

DatetimeIndex(['2016-01-01 00:00:00+08:00', '2016-01-01 01:00:00+08:00',
               '2016-01-01 02:00:00+08:00', '2016-01-01 03:00:00+08:00',
               '2016-01-01 04:00:00+08:00', '2016-01-01 05:00:00+08:00',
               '2016-01-01 06:00:00+08:00', '2016-01-01 07:00:00+08:00',
               '2016-01-01 08:00:00+08:00', '2016-01-01 09:00:00+08:00'],
              dtype='datetime64[ns, tzfile('Asia/Manila')]', freq='H')

In [11]:
# range

rng = pd.date_range(start='2017-08-22 09:00:00', periods=10, freq='30min')
s = pd.Series(range(10), index=rng)
s

2017-08-22 09:00:00    0
2017-08-22 09:30:00    1
2017-08-22 10:00:00    2
2017-08-22 10:30:00    3
2017-08-22 11:00:00    4
2017-08-22 11:30:00    5
2017-08-22 12:00:00    6
2017-08-22 12:30:00    7
2017-08-22 13:00:00    8
2017-08-22 13:30:00    9
Freq: 30T, dtype: int64

In [12]:
# Manila

m = s.tz_localize(tz='Asia/Calcutta')
m

2017-08-22 09:00:00+05:30    0
2017-08-22 09:30:00+05:30    1
2017-08-22 10:00:00+05:30    2
2017-08-22 10:30:00+05:30    3
2017-08-22 11:00:00+05:30    4
2017-08-22 11:30:00+05:30    5
2017-08-22 12:00:00+05:30    6
2017-08-22 12:30:00+05:30    7
2017-08-22 13:00:00+05:30    8
2017-08-22 13:30:00+05:30    9
dtype: int64

In [13]:
m.index

DatetimeIndex(['2017-08-22 09:00:00+05:30', '2017-08-22 09:30:00+05:30',
               '2017-08-22 10:00:00+05:30', '2017-08-22 10:30:00+05:30',
               '2017-08-22 11:00:00+05:30', '2017-08-22 11:30:00+05:30',
               '2017-08-22 12:00:00+05:30', '2017-08-22 12:30:00+05:30',
               '2017-08-22 13:00:00+05:30', '2017-08-22 13:30:00+05:30'],
              dtype='datetime64[ns, Asia/Calcutta]', freq=None)

In [14]:
b = s.tz_localize(tz='Europe/Berlin')
b

2017-08-22 09:00:00+02:00    0
2017-08-22 09:30:00+02:00    1
2017-08-22 10:00:00+02:00    2
2017-08-22 10:30:00+02:00    3
2017-08-22 11:00:00+02:00    4
2017-08-22 11:30:00+02:00    5
2017-08-22 12:00:00+02:00    6
2017-08-22 12:30:00+02:00    7
2017-08-22 13:00:00+02:00    8
2017-08-22 13:30:00+02:00    9
dtype: int64

In [15]:
m + b

2017-08-22 03:30:00+00:00     NaN
2017-08-22 04:00:00+00:00     NaN
2017-08-22 04:30:00+00:00     NaN
2017-08-22 05:00:00+00:00     NaN
2017-08-22 05:30:00+00:00     NaN
2017-08-22 06:00:00+00:00     NaN
2017-08-22 06:30:00+00:00     NaN
2017-08-22 07:00:00+00:00     7.0
2017-08-22 07:30:00+00:00     9.0
2017-08-22 08:00:00+00:00    11.0
2017-08-22 08:30:00+00:00     NaN
2017-08-22 09:00:00+00:00     NaN
2017-08-22 09:30:00+00:00     NaN
2017-08-22 10:00:00+00:00     NaN
2017-08-22 10:30:00+00:00     NaN
2017-08-22 11:00:00+00:00     NaN
2017-08-22 11:30:00+00:00     NaN
dtype: float64