### To DateTime

objective: use pandas to convert different date formats to datetime type

In [5]:
import pandas as pd

# same date but in different format
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05', '20170105']
dates

['2017-01-05',
 'Jan 5, 2017',
 '01/05/2017',
 '2017.01.05',
 '2017/01/05',
 '20170105']

In [6]:
# use pandas to_datetime function to convert dates to datetime type

pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [10]:
# date and time

date_time = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2017', '2017.01.05', '2017/01/05', '20170105']

pd.to_datetime(date_time)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [11]:
# eu date and time format

pd.to_datetime('30-12-2016')

C:\Users\maryr\AppData\Local\Temp\ipykernel_4248\366597259.py:3: UserWarning: Parsing '30-12-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime('30-12-2016')

Timestamp('2016-12-30 00:00:00')

In [12]:
# to avoid confusion between the day and month

pd.to_datetime('5-1-2016', dayfirst=True)

Timestamp('2016-01-05 00:00:00')

In [18]:
# custom format 01#05#2016
# placeholder  - %

pd.to_datetime('2016#01#05', format='%Y#%m#%d')

Timestamp('2016-01-05 00:00:00')

In [17]:
# custom format 01$05$2016
# placeholder  - %

pd.to_datetime('2016$01$05', format='%Y$%m$%d')

Timestamp('2016-01-05 00:00:00')

In [19]:
# handling invalid dates

pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='ignore')

Index(['2017-01-05', 'Jan 6, 2017', 'abc'], dtype='object')

In [20]:
# handling invalid dates using coerce in errors

pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='coerce')

DatetimeIndex(['2017-01-05', '2017-01-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [25]:
# unix time
# https://www.epochconverter.com/

epoch_2017 = 1483581055
epoch_current = 1678067583

pd.to_datetime(epoch_current, unit='s')

Timestamp('2023-03-06 01:53:03')

In [27]:
# unit is in millisecond

pd.to_datetime(epoch_current*1000, unit='ms')

Timestamp('2023-03-06 01:53:03')

In [29]:
# datetime instead of timestamp

time = pd.to_datetime([epoch_current], unit='s')
time

DatetimeIndex(['2023-03-06 01:53:03'], dtype='datetime64[ns]', freq=None)